<!--<ng-container *ngIf="this.status == 'Prihvacen';else denied">-->
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{this.orderMess}}
                </mat-panel-title>
                <mat-panel-description>
                    &nbsp;&nbsp;&nbsp;{{panelOpenState ? 'skloni' : 'prikaži'}} porudzbine
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="card-body p-md-3">
                <div *ngIf="this.hasActiveOrder;else showUnconfirmedOrders">
                    <div class="row">
                        <div class="col-sm">
                            Narucilac
                        </div>
                        <div class="col-sm">
                            Adresa
                        </div>
                        <div class="col-sm">
                            Vreme narucivanja
                        </div>
                        <div class="col-sm">
                            Vreme dostave
                        </div>
                        <div class="col-sm">
                            Porucena hrana
                        </div>
                        <div class="col-sm">
                            Ukupna cena
                        </div>
                        <div class="col-sm">
                            Status
                        </div>
                        <div class="col-sm">
                            Tajmer
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            {{this.activeOrder.buyerEmail}}
                        </div>
                        <div class="col-sm">
                            {{this.activeOrder.address}}
                        </div>
                        <div class="col-sm">
                            {{this.activeOrder.orderTime | customDate}}
                        </div>
                        <div class="col-sm">
                            {{this.activeOrder.deliveryTime | customDate}}
                        </div>
                        <div class="col-sm">
                            <ng-container *ngFor="let prod of activeOrder.productsInOrder">
                                {{foodItemsMap.get(prod.productId)?.name!}}&nbsp;{{prod.quantity}}&nbsp;kom.<br />
                            </ng-container>
                        </div>
                        <div class="col-sm">
                            {{this.activeOrder.price}}
                        </div>
                        <div class="col-sm">
                            Aktivna
                        </div>
                        <div class="col-sm">
                            {{this.timerMin}}:{{this.timerSec}}
                        </div>
                    </div>
                </div>
            
                <ng-template #showUnconfirmedOrders>
                    <div *ngIf="this.hasUnconfirmedOrders;else noOrders">
                        <div class="row">
                            <div class="col-sm">
                                Narucilac
                            </div>
                            <div class="col-sm">
                                Adresa
                            </div>
                            <div class="col-sm">
                                Vreme narucivanja
                            </div>
                            <div class="col-sm">
                                Porucena hrana
                            </div>
                            <div class="col-sm">
                                Ukupna cena
                            </div>
                            <div class="col-sm">
                                Status
                            </div>
                            <div class="col-sm">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row" *ngFor="let order of this.unconfirmedOrders">
                            <div class="col-sm">
                                {{order.buyerEmail}}
                            </div>
                            <div class="col-sm">
                                {{order.address}}
                            </div>
                            <div class="col-sm">
                                {{order.orderTime | customDate}}
                            </div>
                            <div class="col-sm">
                                <ng-container *ngFor="let prod of order.productsInOrder">
                                    {{foodItemsMap.get(prod.productId)?.name!}}&nbsp;{{prod.quantity}}&nbsp;kom.<br />
                                </ng-container>
                            </div>
                            <div class="col-sm">
                                {{order.price}}
                            </div>
                            <div class="col-sm">
                                Na cekanju
                            </div>
                            <div class="col-sm">
                                <button class="btn btn-primary " (click)="takeOrder(order.id)" type="submit" >Prihvati</button>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #noOrders>
                    <div>
                        <p>&nbsp;Trenutno nema porudzbina na cekanju.</p>
                    </div>
                </ng-template>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
<!--</ng-container>-->

<!-- <ng-template #denied>
    <ng-container *ngIf="this.status == 'Odbijen'">
        <br />
        <p>&nbsp;Vas zahtev za pristup je odbijen</p>
    </ng-container>
    <ng-container *ngIf="this.status == 'Na cekanju'">
        <br />
        <p>&nbsp;Vas zahtev za pristup je u obradi</p>
    </ng-container>
</ng-template> -->