
    <div class="banner">
        <div class="content">
            <a routerLink="menu">POGLEDAJ MENI <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>


<div class="containter mt-5 mb-4">
    <h1 class="text-center">Kako poručiti?</h1>
    <div class="row m-0">
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>1</h1>
                <p>register ili log in</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>2</h1>
                <p>izaberi hranu</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>3</h1>
                <p>poruči</p>
            </div>
        </div>
    </div>
</div>

<div class="containter mt-5 mb-4">
    <h1 class="text-center">Želiš da postaneš dostavljač?</h1>
    <div class="row m-0">
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>1</h1>
                <p>register</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>2</h1>
                <p>sačekaj narudžbinu</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>3</h1>
                <p>kreni</p>
            </div>
        </div>
    </div>
</div>