<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Verifikacija  
        </mat-panel-title>
        <mat-panel-description>
           &nbsp;&nbsp;&nbsp;{{panelOpenState ? 'skloni' : 'prikaži'}} dostupne naloge    
        </mat-panel-description>
      </mat-expansion-panel-header>
<ng-template [ngIf]="deliveryUsers.length" [ngIfElse]="noDeliveryUsers">
    <div class="row m-0">
        <div *ngFor="let del of deliveryUsers">
            <div class=" d-flex align-items-center">
                <div class="col-lg-4">
                    <h3 >{{del.email}}</h3>
                </div>  
                <div class="col-lg-4">
                    <div *ngIf="del.status == 0">
                        <form>
                            <button class="btn btn-primary btn-lg" style="background-color: green;" (click)="onAllow(del.email)" type="submit" >Prihvati</button>
                            &nbsp;
                            <button class="btn btn-primary btn-lg" style="background-color: red;" (click)="onDeny(del.email)" type="submit" >Odbij</button>
                        </form>
                    </div>
                    <div *ngIf="del.status == 1">
                        <p style="color: green;">Prihvacen</p>
                    </div>
                    <div *ngIf="del.status == 2">
                        <p style="color: red;">Odbijen</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #noDeliveryUsers>

    <h1>No delivery users exists in system.</h1>
    
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState1 = true"
                         (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Dodavanje proizvoda  
        </mat-panel-title>
        <mat-panel-description>
           &nbsp;&nbsp;&nbsp;{{panelOpenState1 ? 'skloni' : 'prikaži'}} formu   
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="card-body p-md-3">
        <form  [formGroup]="addNewProductForm">
            <div class="row">
                <div class="col-sm">
                    <div class="form-outline">
                        <input type="text" formControlName="Name" class="form-control form-control-lg" />
                        <label class="form-label" for="Name">Ime proizvoda</label>
                    </div>
        
                    <div class="form-outline">
                        <input type="number" formControlName="Price" step=".1" class="form-control form-control-lg" />
                        <label class="form-label" for="Price">Cena proizvoda</label>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-outline">
                        
                        <textarea style="height: 125px;" formControlName="Ingredients" class="form-control form-control-lg"></textarea>
                        <label class="form-label" for="Ingredients">Sastojci</label>
                    </div>
        
                    <button class="btn btn-primary btn-lg" (click)="onSubmitAdd()" type="submit" >Dodaj proizvod</button>
                </div>
            </div>
        </form>
      </div>

    </mat-expansion-panel>
</mat-accordion>