<div class="container-fluid footer mt-1">
    <div class="row m-0">
        <!-- info  -->
        <div class="col-lg-2 mt-1 mb-1">
            <h1>Adresa:</h1>
            <p>21 Novosadska<br>
            21000 Novi Sad</p>
        </div>
        <div class="col-lg-2 mt-1 mb-1">
            <h1>Kontakt:</h1>
            <p>021 123123<br>
            021 321321</p>
        </div>
        <div class="col-lg-2 mt-1 mb-1">
            <h1>Radno vreme:</h1>
            <p>pon - ned<br>
            07:00 - 22:00</p>
        </div>

        <!-- socialmedia -->
        <div class="col-lg mt-4 mb-1 d-flex flex-row-reverse">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>